extends base

block content
  h2 Admin
  if (posts && posts.length)
    h3 Blog Overview
    each post in posts
      p
        p
          a(href="/blog/" + post.postID) #{post.title}
        small
          span #{moment(post.created).format('M/D/YY, h:mma')}
          |
          span &nbsp;&bull;&nbsp;
          |
          span #{post.author.displayName || post.author.username}
          |
          span &nbsp;&bull;&nbsp;
          |
          span
            em #{post.content.split(' ').length} words
            |
            span &nbsp;&bull;&nbsp;
            |
            em #{post.tags.length} keyword(s)
          |
          span &nbsp;&bull;&nbsp;
          |
          a(href="/blog/" + post.postID + "?action=edit") Edit
          |
          span &nbsp;&bull;&nbsp;
          |
          a(href="/blog/" + post.postID + "?action=delete") Delete
  else if posts
    h3 No posts found
    p You should start writing.

  if (podcasts && podcasts.length)
    h3 Podcast Overview
    .podcasts
      each podcast in podcasts
        .podcast
          div
            .pull-right
              a.delete(href="/podcast/" + podcast.slug + '?action=delete') Delete This
            a.podcast-title(href="/podcast/" + podcast.slug) #{podcast.title}
          div.pull-left
            //- TODO: Needs to accept a png and jpegs
            img.cover-art(src="/media/" + podcast.slug + "/cover.png", alt="")
          ul.podcast-meta
            li Episodes: #{podcast.episodes.length}
            li Last Published: #{moment(podcast.updatedOn).fromNow()}
            li Created: #{moment(podcast.createdOn).fromNow()}
            li Author: #{podcast.author}
    .sep
    h3 Create New Podcast
    form.create-podcast(action="/podcast" method="POST" enctype="multipart/form-data")
      fieldset
        div
          label(for="title") title
          input(type="text" name="title" placeholder="Dummy")
        div
          label(for="subtitle") subtitle
          input(type="text" name="subtitle" placeholder="Dummy")
        div
          label(for="website") website
          input(type="text" name="website" placeholder="Dummy")
        div
          label(for="author") author
          input(type="text" name="author" placeholder="Dummy")
        div
          label(for="keywords") keywords
          input(type="text" name="keywords" placeholder="Dummy")
        div
          label(for="slug") slug
          input(type="text" name="slug" placeholder="Dummy")
        div
          label(for="description") description
          textarea(type="text" name="description" row=3 placeholder="Dummy")
        div
          label(for="cover") cover img
          input(type="file" name="cover" accept=".jpg, .jpeg, .png")
        div
          label(for="explicit1") Explicit
          input#explicit1(type="radio" name="explicit" value="yes" placeholder="Dummy" checked)
          label(for="explicit2") Clean
          input#explicit2(type="radio" name="explicit" value="no" placeholder="Dummy")
      button Create
  else if podcasts
    h3 No podcasts found
    p You should start casting.