extends base

block content
  h2 Admin
  if (posts && posts.length)
    h3 Blog Overview
    each post in posts
      p
        p
          a(href="/blog/" + post.postID) #{post.title}
        small
          span #{moment(post.created).format('M/D/YY, h:mma')}
          |
          span &nbsp;&bull;&nbsp;
          |
          span #{post.author.displayName || post.author.username}
          |
          span &nbsp;&bull;&nbsp;
          |
          span
            em #{post.content.split(' ').length} words
            |
            span &nbsp;&bull;&nbsp;
            |
            em #{post.tags.length} keyword(s)
          |
          span &nbsp;&bull;&nbsp;
          |
          a(href="/blog/" + post.postID + "?action=edit") Edit
          |
          span &nbsp;&bull;&nbsp;
          |
          a(href="/blog/" + post.postID + "?action=delete") Delete
  else if posts
    h3 No posts found
    p You should start writing.

  if (podcasts && podcasts.length)
    h3 Podcast Overview
    each podcast in podcasts
      p
        p
          a(href="/podcast/" + podcast.slug + '/rss') #{podcast.title}
        small
          span #{moment(podcast.createdOn).format('M/D/YY, h:mma')}
          |
          span &nbsp;&bull;&nbsp;
          |
          span #{podcast.episodes.length} episodes
          |
          span &nbsp;&bull;&nbsp;
          |
          span By #{podcast.author}
          |
          span &nbsp;&bull;&nbsp;
          |
          a(href="/podcast/" + podcast.slug + "/new") Add Episode
          |
          span &nbsp;&bull;&nbsp;
          |
          a(href="/podcast/" + podcast.slug + "?action=delete") Delete
  else if podcasts
    h3 No podcasts found
    p You should start casting.