html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#fff020")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto")
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="/js/scripts.js")
    block meta
      title #{config.name} - #{config.tagline}
      meta(name="description" content=config.description)
  body
    h2 
      a(href="/") #{config.name}
    form(action="/search")
      label(for="search") Search
      input.search(type="text" name="query")
      input(type="hidden" name="_csrf" value=csrfToken)
      button Search
    if user
      nav
        p
          strong #{user.displayName || user.username}
          a(href="/logout")
            span  (Logout)
        p
          a(href="/admin") Admin
          if config.modules.blog
            |
            span &nbsp;&bull;&nbsp;
            |
            a(href="/editor") Blog Editor
    block content
    footer Crafted by Zero Daedalus &copy; 2018
      unless user
        |
        span &nbsp;&bull;&nbsp;
        |
        a(href="/login") Log in