extends base

block content
  img.cover-art(src="/media/" + podcast.slug + "/cover.png", alt="")
  h3 #{podcast.title}
  p #{podcast.subtitle}
  p #{podcast.description}
  ul
    li # of Episodes: #{podcast.episodes.length}
    li Created On: #{moment(podcast.createdOn).format('MMM do, YYYY')}
    li Keywords: #{podcast.keywords.join(', ')}
    li Explicit: #{podcast.isExplicit ? 'Fuck yeah' : 'Fuck no'}
    li Complete: #{podcast.isComplete ? 'Donezo' : 'Not Donezo'}
    li Website: #{podcast.website}
    li Author: #{podcast.author}
    li
      a(href="/podcast/" + podcast.slug + "/rss") RSS
  .sep
  h3 Episodes
  each episode in podcast.episodes
    h5 
      a(href="/media/" + podcast.slug + "/" + podcast.slug + episode.episodeNumber.toString().padStart(3, "0") + '.mp3') #{episode.title} - Episode ##{episode.episodeNumber}
    p Published On: #{moment(episode.publishedOn).format('MMM, do, YYYY')}
    p #{episode.description}
  .sep
  h3 Add an episode
  form.add-episode(action="" method="POST" enctype="multipart/form-data")
    fieldset
      div
        label(for="publishedOn") Publish Date
        input(type="date" name="publishedOn")
      div
        label(for="title") title
        input(type="text" name="title")
      div
        label(for="description") description
        input(type="text" name="description")
      div
        label(for="media") media
        input(type="file" name="media" accept=".mp3")
      input(type="hidden" name="podcast" value=podcast.id)
      div
        button Add