extends base

block meta
  title #{post.title} - #{config.name} - #{config.tagline}
  meta(name="description" content=post.excerpt)
  meta(name="tags" content=post.tags.join())

block content
  h3 #{post.title}
  p.post-date #{moment(post.created).format('MMM D, YYYY')} by 
    strong #{post.author.displayName || post.author.username}
  p !{marked(post.content)}
  p.return
    a(href="/") &laquo;&nbsp;Back to Home Page
    if user
      p
        a(href="?action=edit") Edit this post
      p
        a(href="?action=delete") Delete this post