extend base

block meta
  title #{preview.title} - #{config.name} - #{config.tagline}
  meta(name="description" content=preview.excerpt)

block content
  p.post-date #{moment().format('MMMM D, YYYY')}
  h4 Excerpt
  p #{preview.excerpt}
  h3 #{preview.title}
  p !{marked(preview.content)}
  p
    form(action="/blog" method="POST")
      input(type="hidden" name="title" value=preview.title)
      input(type="hidden" name="content" value=preview.content)
      input(type="hidden" name="excerpt" value=preview.excerpt)
      input(type="hidden" name="author" value=user.id)
      input(type="hidden" name="_csrf" value=csrfToken)
      button Publish
