extends base

block meta
  title #{post.title} - #{blog.name} - #{blog.tagline}
  meta(name="description" content=post.excerpt)
  meta(name="tags" content=post.tags.join())

block content
  h3 #{post.title}
  p.post-date Posted #{moment(post.created).format('MMMM D, YYYY')}
  p #{post.content}
  p.return
    a(href="/") &laquo;&nbsp;Back to Home Page