extends base

block meta
  title= post.seoTitle
  meta(name="description" content=post.seoDesc)
  meta(name="tags" content=post.tags.join())

block content
  h3 #{post.title}
  p.post-date Posted #{moment(post.created).format('MMM d, YYYY')}
  p #{post.content}
  p.return
    a(href="/") &laquo;&nbsp;Back to Home Page